[submodule "models/MusicTransformer-tensorflow2.0"]
	path = models/MusicTransformer-tensorflow2.0
	url = https://github.com/ghalestrilo/MusicTransformer-tensorflow2.0
[submodule "models/remi"]
	path = models/remi
	url = https://github.com/ghalestrilo/remi
[submodule "models/melody_rnn"]
	path = models/melody_rnn
	url = https://github.com/ghalestrilo/magenta-piano-duet-api
